header {
    display: flex;
    justify-content: flex-start;
    color: grey;
    width: 100vw;
    max-width: 1600px;
    font-family: leitura;
}

h1 {
    font-weight: 100;
}

nav {
    width: 100vw;
    max-width: 1600px;
}

.grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-gap: 2rem;
    width: 100%;
    max-width: 1600px;
    font-family: leitura;
}

.grid-container div {
    /* border-style: solid;
    border-color: aqua;  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    background-color: white;
    color: white;
    text-shadow: 2px 2px rgb(178, 100, 100);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    background-image: url(https://cdn.britannica.com/12/140912-050-5DC0C789/Triumph-of-Galatea-Raphael-Villa-Farnesina-Rome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.div2 {
    background-color: rgb(238, 205, 238);
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-image: url(./img/coding.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div3 {
    background-color: rgb(63, 121, 187);
    color: white;
    text-shadow: 2px 2px rgb(178, 100, 100);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 4rem;
    background-image: url(./img/italian.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div4 {
    background-color: rgba(177, 84, 177, 0.767);
    color: white;
    text-shadow: 2px 2px rgb(178, 100, 100);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 5rem;
    background-image: url(./img/travel2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div5 {
    background-color: rgb(212, 131, 176);
    color: white;
    text-shadow: 2px 2px rgb(132, 240, 224);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
    font-size: 5rem;
    background-image: url(./img/web-dev.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div6 {
    background-color: rgb(255, 246, 174);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    color: rgb(132, 240, 224);
    text-align: center;
    font-size: 4rem;
}

.div7 {
    background-color: rgb(238, 205, 238);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    color: white;
    text-align: center;
    font-size: 5rem;
    background-image: url(./img/cooking.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div8 {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    color: white;
    text-align: center;
    font-size: 5rem;
    background-image: url(https://static.toiimg.com/photo/msid-22547587,width-96,height-65.cms);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div9 {
    background-color: rgba(177, 84, 177, 0.767);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    color: white;
    text-align: center;
    font-size: 4.5rem;
    text-shadow: 1px 1px rgb(159, 195, 226);
    background-image: url(./img/interior-design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div10 {
    background-color :rgb(63, 121, 187);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    color: white;
    text-align: center;
    font-size: 5rem;
    writing-mode: vertical-rl;
    background-image: url(./img/country-walk.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

